Data Science Tools and Ecosystem

This notebook summarizes Data Science Tools for you.

## Objectives:
Pupular Data Science Tools
1. Python
2. Sql
3. R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow

Data Science Tools

Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 minutes hours

## Ozan Can Bagcivan